@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amiri", serif;
  background: rgb(49,2,69);
  background: linear-gradient(90deg, rgba(49,2,69,1) 0%, rgba(82,3,112,1) 35%, rgba(219,2,251,1) 100%);
  /* background: #2e014c; */
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),
    auto;
}

a {
  color: white;
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

svg {
  fill: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

.contaner-nav{
  display: flex;
  justify-content: space-evenly;
  padding-top:20px ;
}

.contaner-nav .nav-sochil .sochil,
.contaner-nav .nav-contact .contact{
  margin: 10px;
  cursor: pointer;
}

.contaner-nav .nav-contact .contact{
  padding: 10px;
  border-radius: 5px;
}

.contaner-nav .nav-sochil .sochil:hover,
.contaner-nav .nav-contact .contact:hover{
  background-color: white;
  color: blueviolet;
  
}

.contact-icon{
  margin-left: 7px;
}

.header{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.header-section{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
/* #7003b8 */
.navbar{
  display: flex;
  padding: 2rem;
  width: 100%;
  
}
.navbar a{
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 100%;
  padding: .5rem;
  font-size: 18px;
  
  
}

.navbar a:hover{
  color: blueviolet;
}

.tltel,
.contact{
  padding: 2rem;
  font-size: 18px;
}

.contact a:hover{
  color: blueviolet;
}

.foot{
  padding: 2rem;
  font-size: 16px;
  text-align: left;
}

.foot a:hover{
  color: blueviolet;
}

p{
  color: white;
}